<%- include('../../partials/header') %>

<body>
    <%- include('../../partials/navbar') %>
    <div class="container">
        <br>
        <a href="/articles" class="btn btn-primary">&#129092;</a>
        <br><br>
        <div class="card">
            <div class="card-header">
                <h2>Edição de Artigo</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/articles/edit/<%= article.id %>">
                    <label for="title">Título do artigo</label>
                    <input type="text" name="title" id="title" placeholder="Defina o título da categoria" class="form-control" value="<%= article.title %>">
                    <br>
                    <label for="category">Categoria</label>
                    <br>
                    <select name="category" id="category" class="form-control">
                        <% categories.forEach(category=>{ %>
                            <% if(category.id == article.categoryId){ %>
                                <option value="<%= category.id %>"><%= category.title %></option>
                            <% } %>
                        <% }) %>
                    </select>
                    <br><br>
                    <textarea name="article" id="article"><%= article.body %></textarea>
                    <button class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language:'pt_BR',
        selector:'#article',
        plugins: 
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons',
        toolbar: 'emoticons'
    });
</script>
