<%- include('../../partials/header') %>
<body>
    <%- include('../../partials/navbar') %>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Criação de artigo</h1>
            </div>
            <div class="card-body">
                <form action="/admin/article/new" method="post">
                    <label for="title">Título</label>
                    <input type="text" id="title" name="title" placeholder="Título do artigo" class="form-control">
                    <br>
                    <label for="categ">Categoria do post</label>
                    <select name="category" id="categ" class="form-control">

                    <% categories.forEach(category=>{ %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% }) %>
                    </select>
                    <br>
                    <label for="body">Corpo do post</label>
                    <textarea class="form-control" name="body" id="article" placeholder="Escreva seu artigo..." rows="3"></textarea>
                    <br>
                    <button class="btn btn-success">Salvar artigo</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language:'pt_BR',
        selector:'#article',
        plugins: 
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons',
        toolbar: 'emoticons'
    });
</script>