<%- include('../../partials/header') %>
<body>
    <%- include('../../partials/navbar') %>
    <div class="container">
        <h1><%= article.title %></h1>
        <%- article.body %>
</body>
    <%- include('../../partials/footer') %>