<%- include('../../partials/header') %>
<body>
    <% if(!user) { %>
        <%- include('../../partials/homenavbar') %>
    <% } else { %>
        <%- include('../../partials/navbar') %>
    <% } %>
    <div class="container">
        <br>
        <a href="javascript:history.back()" class="btn btn-primary">&#129092; Voltar</a>
        <br><br>
        <div class="card">
            <div class="card-header">
                <h1><%= article?.title %></h1>
            </div>
            <div class="card-body">
                <%- article?.body %>
            </div>
        </div>
        <hr>
        <br>
        <h2>Coment치rios</h2>
        <br>
        <% comments.forEach(comment=>{ %>
            <div class="card">
                <div class="card-header">
                    <h4><%= comment.name %></h4>
                </div>
                <div class="card-body">
                    <p><%- comment.body %></p>
                </div>
            </div>
            <br>
        <% }) %>
        <br>
        <h2>Deixe seu coment치rio</h2>
        <form action="/article/<%= article.slug %>/comment" method="POST">
            <input type="hidden" name="id" value="<%= article.id %>">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Digite aqui seu nome">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Digite aqui seu e-mail">
            <label for="commentBody">Coment치rio</label>
            <textarea name="commentBody" id="commentBody" class="form-control" rows="1" placeholder="Digite seu coment치rio aqui"></textarea>
            <br>
            <button class="btn btn-primary">Comentar</button>
        </form>
    </div>
</body>
    <%- include('../../partials/footer') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language:'pt_BR',
        selector:'#commentBody',
        plugins: 
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons',
        toolbar: 'emoticons'
    });
</script>