<%- include('./partials/header.ejs'); %>
<body>
    <%- include('./partials/homenavbar') %>
    <div class="container">
        <br>
        <div class="mt-4 p-5 bg-secondary text-white rounded">
            <h1>Bem vindo</h1>
            <p>Isto é um jumbotron e serve para chamar sua atenção ao meu blog, seja muito bem vindo</p>
          </div>
        <br>
        <% articles.forEach(article=>{ %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                    <br>
                    <h4><%= article.category.title %></h4>
                </div>
                <div class="card-body">
                    <%- article.body %>
                <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
            <br>
        <% }) %>
    </div>
</body>

<%- include('./partials/footer.ejs') %>